<div>
    <h2>Computer Science and Engineering "Ss. Cyril and Methodius" University - Skopje</h2>
</div>
<div class="project" *ngFor="let index of [1,2,3,4,5]">
    <div class="image">
        <img src="./assets/Images/project.png" alt="Project Image" style="width: 500px;">
    </div>
    <div class="info">
        <h2 class="pdn">Project {{ index }}</h2>
        <h3 class="pdn">Subheading</h3>
        <div class="text">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut 
            labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris 
            nisi ut aliquip ex ea commodo consequat. 
        </div>
        <div class="btn">
            <button>View Project</button>
        </div>
    </div>
    <div style="padding-top: 25px;">
        <hr>
    </div>
</div>
<div class="center">
    <div class="pagination">
        <a href="#">&laquo;</a>
        <a href="#" class="active">1</a>
        <a href="#">2</a>
        <a href="#">3</a>
        <a href="#">4</a>
        <a href="#">5</a>
        <a href="#">&raquo;</a>
    </div>
    <div>
        <hr>
    </div>
</div>
